@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    text-align: center;
    color: var(--dark-grayish-blue);
}
header{
    background-image: url('/images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding:40px 0 20px 0;
}

img{
    max-width: 100%;
}
.container{
    margin: 40px auto;
    max-width: 100%;
    width: 1440px;
}
.container-small{
    width: 900px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex > *{
    flex: 1;
    padding: 10px;
    border: 1px solid red;
}

button{
    margin: 20px 5px;
    border: none;
    padding:10px 20px;
    border-radius:20px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Bai Jamjuree', sans-serif;
}
.btn--green{
    background-color: var(--strong-cyan);
}
.btn--blue{
    background-color: var(--light-blue);
}