@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
:root{
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    text-align: center;
    color: var(--dark-grayish-blue);
}
header{
    background-image: url('/images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding:40px 0 20px 0;
}
section{
    padding: 30px 0;
}

img{
    max-width: 100%;
}
p{
    line-height: 1.5;
    padding: 15px 0;
    color: var(--grayish-blue);
}
.container{
    margin: 30px auto;
    max-width: 100%;
    width: 1440px;
}
.container-small{
    width: 600px;
}
.container-center{
    width: 1000px;
}
.container-center p{
    font-size: 14px;
}
.container-center h4{
    padding-top: 30px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flex > *{
    flex: 1;
    padding: 10px;
}
.text-side > *{
    text-align: start;
    margin-left: 50px;
}
.text-side > p{
    width: 70%;
}
.divices{
    margin-top: 50px;
}
button{
    margin: 20px 5px;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Bai Jamjuree', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}
.btn--green{
    background-color: var(--strong-cyan);
    box-shadow: 0 3px 2px hsl(171, 68%, 36%);
}
.btn--blue{
    background-color: var(--light-blue);
    box-shadow: 0 3px 2px hsl(233, 71%, 61%);
}

footer{
    background-color: #ededed; 
}
footer .container{
    margin-bottom: 0;
}
.footer__logo > img{
    width: 70px;
}
footer ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
footer .links{
    flex: 3;
}
footer .links li{
    padding: 10px;
    margin-right: 40px;
}
footer .links li a{
    color: var(--dark-grayish-blue);
}
footer ul a i{
    color: var(--dark-grayish-blue);
    font-size: 25px;
}
footer .social{
    display: flex;
    justify-content: center;
}
footer .social li{
    margin: 10px;
}

@media only screen and (max-width: 375px) {
    .flex{
        flex-direction: column;
    }
    .container{
        padding-right: 10px;
        padding-left: 10px;
    }
    .container-center div{
        margin-bottom: 30px;
    }
    footer .links{
        flex-direction: column;
    }
    footer .links li{
        padding: 10px;
        margin-right: 0;
    }
  }